footer {
  padding-top: 5%;
  background-color: #f5f1ed;
}


/* fix navbar overtaking content issue and give space between footer and body */
.top {
  padding-top: 100px;
  padding-bottom: 40px;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
}




.grey-section {
  background-color:#f5f5f5;
  margin-top: 0;
}

.grey-body {
  background-color:#f5f5f5;

}
/* #bottom {
  background-color: #373b44;
} */
